//* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

html{
    scrollbar-width: smooth;
}

body {
  background-color: #fff;
  color: #1e1e1e;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  background-color: #0d47a1;
  padding: 1rem 0; /* FIXED */
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffc107;
}

.design{
    font-weight: bold;
    color: Red;
    
}


.hero {
  text-align: center;
  padding: 80px 20px;
  background: #e3f2fd;
  background-image: url('bg.jpg');
}

.profile{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 2rem;
  color: #0d47a1;
}

.hero p {
  font-size: 1.1rem;
  margin: 10px 0 20px;
}

.resume{
  background-color: #0d47a1;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.resume:hover {
  background-color: #08306b;
}

.section {
  max-width: 1000px;
  margin: auto;
  padding: 60px 20px;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.about p{
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 1em;
}

.section h2 {
  text-align: center;
  color: #0d47a1;
  margin-bottom: 30px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 20px;
  text-align: center;
}

.skill {
  background-color: #e3f2fd;
  padding: 15px;
  border-radius: 6px;
  font-weight: 500;
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: auto;
}

form input,
form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

form button {
  background-color: #0d47a1;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #08306b;
}


footer {
  background-color: #0d47a1;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}


@media (max-width: 768px) {
 .container {
    flex-direction: column;
    gap: 10px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  .skills-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  form {
    padding: 0 10px;
  }
}